In [1]:
# 160363

import pandas as pd
import csv
import matplotlib

df = pd.read_csv("./ELSI_csv_export_6374279036158069018870.csv")
df.head()

,State Name,Pupil/Teacher Ratio [State] 2018-19,Pupil/Teacher Ratio [State] 2017-18,Pupil/Teacher Ratio [State] 2016-17,Pupil/Teacher Ratio [State] 2015-16,Secondary Teachers [State] 2018-19,Secondary Teachers [State] 2017-18,Secondary Teachers [State] 2016-17,Secondary Teachers [State] 2015-16,Ungraded Teachers [State] 2018-19,Ungraded Teachers [State] 2017-18,Ungraded Teachers [State] 2016-17,Ungraded Teachers [State] 2015-16
0,ALABAMA,17.56,17.76,17.51,18.25,19690.76,19501.06,20056.80,19079.63,"=""0.00""","=""0.00""",†,†
1,ALASKA,17.10,17.16,16.96,16.91,3666.91,3673.20,3754.45,3507.40,†,†,†,†
2,ARIZONA,23.53,23.21,23.29,23.13,14795.56,14568.66,15084.87,14488.66,†,†,†,†
3,ARKANSAS,13.03,13.86,13.81,13.75,18229.83,14862.39,14767.68,14714.25,2529.86,2760.19,2645.28,2615.95
4,CALIFORNIA,23.08,23.22,23.26,23.63,87079.49,85849.37,86139.96,84322.38,3987.17,4271.68,2546.84,2960.27

In [3]:
from matplotlib import pyplot as plt
colors = {
    "ALABAMA": "green",
    "ALASKA": "orange",
    "ARIZONA": "red",
    "ARKANSAS": "purple",
    "CALIFORNIA": "blue",
}
# Filter only our colors 
df["State Name"]


_, ax = plt.subplots()
for key, group in df.groupby("State Name"):
    group.plot.scatter(ax=ax, x="Pupil/Teacher Ratio [State] 2018-19", y="Secondary Teachers [State] 2018-19", label=key, color=colors[key])
ax.set_xlabel("GDP per capita (USD)")
ax.set_ylabel("Life expectancy (years)")
_ = ax.set_title(
    "Africa's countries are almost all low GDP compared to Europe and America"
)

KeyError: 'COLORADO'